html, body {
    margin: 0;
    font-family: 'Inter';
    color: #333333;
    background-color: #FFFDF7;
}

/*Header & Footer*/
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;
    font-size: 17px;
    border-bottom: 1px solid #F6F5F0;
}

header a {
    text-decoration: none;
    color: black;
}

.logo {
    display: flex;
    justify-content: space-between;
    font-family: 'Playfair Display';
    color: #497555;
    font-weight: 500;
    padding-left: 2%;
    padding-right: 40%;
}

.logo img{
    object-fit: contain;
    padding-right: 10px;
}

footer{
    display: flex;
    flex-direction: row-reverse;
    background-color: #FFFFFF;
    padding-right: 3%;
    font-size: 17px;
}

/*Homepage : HeroHeader*/

.heroHeader, .illustrationOrange, .illustrationGreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heroHeader, .illustrationGreen{
    background-color: #E8F0E3;
}

.heroHeader div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15%;
    font-size: 18px;
    font-weight: 300;
}

.heroHeader h1{
    font-size: 64px;
}

.heroHeader img, .registerPage img {
    width: 50%;
    object-fit: cover;
}

/*Homepage : Products*/
.headerProducts{
    padding-left: 4%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.products div {
    background-color: #fff;
    text-align: center;
    padding-bottom : 20px;
}

.products img {
    width: 100%;
    height: auto;
    display: block; 
}

.products a {
    font-weight: bold;
    color:#333333;
}

/*Homepage : illustrations*/
.illustrationOrange{
    background-color: #EBE3D3;
}

.illustrationOrange div, .illustrationGreen div{
    width: 70%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
}

.illustrationOrange div{
    padding-left: 1%;
    padding-right: 50%;
    padding-top: 32%;
}

.illustrationGreen div{
    padding-left: 45%;
    padding-right: 1%;
    padding-top: 30%;
}

.illustrationOrange img, .illustrationGreen img{
    width: 30%;
    object-fit: cover;
}

/*RegisterPage*/
.registerPage{
    display: flex;
}

.img-container{
    margin: auto;
    flex: 1;
    display: flex;
    align-items: center;
}

.img-container img{
    width: 1000px;
    max-height: 900px;
}

#formRegister{
    margin: auto;
    width: 40%;
    height: 100%;
}

.form-field {
    margin-bottom: 15px;
}

.form-field label {
    display: block;
    margin-bottom: 5px;
}

.form-field input, .formLogin input {
    width: 50%;
    padding: 2%;
    background-color: #FFFDF7;
    border: 1px solid #666666;
}

.checkbox{
    margin-bottom: 15px;
    display: flex;
}

#termsAgreed{
    width: 2%;
}

button{
    width: 55%;
    background-color: #565656;
    color: #FFFDF7;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 17px;
    border: none;
    margin-bottom: 2%;
}

.redirectLoginRegister{
    font-size: 16px;
    color: #666666;
    margin-top: 2%;
    font-weight: 400;
    display: flex;
}

/* LoginPage */
.formLogin{
    display: flex;
    flex-direction: column;
}

.formLogin label{
    font-weight: 400;
    font-size: 17px;
}

.formLogin input{
    margin-bottom: 2%;
}

/* ProductPage */

.productPage{
    display: flex;
    gap: 5%;
}

.productPage img{
    width: 155%;
}

.productPage div{
    padding-top: 2%;
    padding-right: 15%;
}

.productPage h1{
    font-size: 24px;
    font-weight: 500;
}

.fullDescription{
    font-size: 15px;
    padding-bottom: 15%;
}

.price{
    font-size: 30px;
    padding-bottom: 1%;
}

.subTitle{
    font-size: 12px;
    padding-bottom: 3%;
}

/* CartPage */

.custom-body-background-cart {
    background-color: #F7F1EC; 
}

.cart-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.cart-container h1{
    text-align: center;
    font-weight: 500;
}

.clear-cart {
    display: block;
    text-align: left;
    color: #666666;
    text-decoration: none;
    margin-bottom: 20px;
}

.cart-card {
    display: flex;
    align-items: center;
    background-color: #FFFDF7;
    margin-bottom: 1%;
    padding: 10px;
}

.cart-card img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    margin: 2%;
}

.product-details{
    margin-left: 3%;
}

.product-details h2{
    font-size: 18px;
    color: #333;
}

.product-details p {
    font-size: 16px;
    color: #666666;

}

.product-details .price{
    font-weight: 500;
    font-size: 22px;
    color: #333333;
}

.cart-summary{
    background-color: #FFFDF7B2;
    text-align: right;
    font-size: 18px;
    padding: 1%;
}

.cart-summary .total{
    font-weight: 500;
}

.total-price{
    font-size: 22px;
}

.shipping-fee{
    color: #666666;
    font-size: 16px;
}

.checkout-button {
    margin: auto;
    display: block;
    width: 70%;
    text-align: center;
    background-color: #565656;
    color: #ffffff;
    padding: 4%;
    text-decoration: none;
    margin-top: 3%;
    margin-bottom: 7%;
    font-size: 18px;
}

.empty-cart{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.empty-cart p{
    margin-top: 15%;
    margin-bottom: 5%;
    font-size: 30px;
}

.empty-cart a{
    font-size: 20px;
    margin-bottom: 50%;
    color: #666666;
}

/*User Page*/
.user-page-container {
    background-color: #fdfaf7;
    padding: 4% 7% 4% 7%;
    margin-bottom: 20px;
}

.user-page-container .order-list{
    width: 604px;
    height: 360px;
}

.user-page-container h2{
    font-size: 18px;
    margin-bottom: 5%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table td {
    padding: 1%;
    padding-bottom: 3%;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    padding: 1%;
    padding-bottom: 3%;
    text-align: left;
    color: #666666;
    font-weight: 400;
}

.delete-account-button {
    margin: auto;
    display: block;
    width: 70%;
    text-align: center;
    background-color: #565656;
    color: #ffffff;
    padding: 4%;
    text-decoration: none;
    font-size: 18px;
}