{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}
    <div class="heroHeader">
        <div>
            <h1>Bienvenue</h1>
            <p>Découvrez notre univers de produits durables et éthiques pour une consommation responsable</p>
            <p>Retrouvez des articles d’hygiène & beauté, des accessoires & boissons et du prêt à porter</p>
        </div>
        <img src="{{ asset('images/illustration/NewCo2.webp') }}" alt="Carton sur une chaise avec la notion Less New = Less Co2"/>
    </div>

    <p class="headerProducts">NOS PRODUITS</p>

    <div class="products">
    </div>

    <div class="illustrationOrange">
        <div>
            <h3>NOTRE CONVICTION</h3>
            <p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
        </div>
        <img src="{{ asset('images/illustration/tree.webp') }}" alt="Un arbre"/>
    </div>
    
    <div class="illustrationGreen">
        <img src="{{ asset('images/illustration/bags.webp') }}" alt="Des sacs verts"/>
        <div>
            <h3>NOS VALEURS</h3>
            <p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.</br>Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.</br>Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
        </div>
    </div>
{% endblock %}