{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Inscription{% endblock %}

{% block body %}
    <div class="registerPage">
        <img src="{{ asset('images/illustration/registerPage.webp') }}" alt="Photo de feuilles très très vertes"/>
        <form id="formRegister" action="{{ path('app_register') }}" method="post">
            <h2>Inscription</h2>
            <p>Tous les champs sont obligatoires</p>
            <div class="form-field">
                <label for="lastName">Nom :</label>
                <input type="text" id="lastName" name="lastName" class="form-control" required>
            </div>
            <div class="form-field">
                <label for="firstName">Prénom :</label>
                <input type="text" id="firstName" name="firstName" class="form-control" required>
            </div>
            <div class="form-field">
                <label for="email">Email :</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="form-field">
                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="password" class="form-control" required>
            </div>
            <div class="form-field">
                <label for="password_confirmation">Confirmer le mot de passe :</label>
                <input type="password" id="password_confirmation" name="password_confirmation" class="form-control" required>
            </div>
            <div class="form-field">
                <input type="checkbox" id="termsAgreed" name="termsAgreed" class="form-control" required>
                <label for="termsAgreed">J'accepte les termes et conditions</label>
            </div>
            <button type="submit">S'inscrire</button>
            
            <a href="{{ path('app_login') }}" class="redirectLoginRegister">Déjà un compte ? Se connecter</a>
        </form>
    </div>
{% endblock %}